openapi: 3.1.0
info:
  description: "The API for Myra EU CAPTCHA provides one end point to verify the validity\
    \ of client requests using EU CAPTCHA technology developed by Myra Security. \
    \ \n  \nThis API only describes how the validation of the EU CAPTCHA works. For\
    \ a description of How-To-Integrate the EU CAPTCHA into your website, please refer\
    \ to https://docs.eu-captcha.eu/  \n  \n  \n**Version History**\n| Version | |\
    \ \tReason for change |\n| --- | --- | --- |\n| 1.0 |\t\t| Initial release |\n"
  license:
    name: BSD 2-Clause License
  title: Myra EU Captcha API
  version: "1.0"
servers:
- description: Production systems
  url: https://api.eu-captcha.eu/v1
paths:
  /verify:
    post:
      description: "The client of the end-user have to make certain calculations as\
        \ a so-called **proof-of-work** mechanism.  \nThe end point determines whether\
        \ those calculations have been performed correctly. Also if the token has\
        \ been used before, among other validation functions.  \n  \nAs a result the\
        \ body returns a JSON object with the attribute ``success`` as true or false\
        \ (boolean).\n"
      operationId: verifyClientToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: A JSON object with the attribute ``success`` with the value
            0 (``false``) or 1 (``true``).
      summary: Verify submitted client token
      tags:
      - EuCaptcha
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    VerifyRequest:
      example:
        client_token: client_token
        sitekey: sitekey
        client_user_agent: client_user_agent
        client_ip: client_ip
        secret: secret
      properties:
        sitekey:
          description: "The public site key associated with the domain.  \n  \nThe\
            \ public site key can be found in your account on the EU CAPTCHA website\
            \ under **Dashboard** view -> **Site Key List** area -> **Settings** button\
            \ -> **Details** tab.  \n  \n  \n>> ---\n>> Example:\n>> ``1c87e240-.....-23ac9f99da68``\n\
            >> ---\n"
          type: string
        secret:
          description: "The secret key associated with the site key (non-public information).\
            \  \n  \nThe secret key can be found in your account on the EU CAPTCHA\
            \ website under **Dashboard** view -> **Site Key List** area -> **Settings**\
            \ button -> **Details** tab.  \n  \n  \n>> ---\n>> Example:\n>> ``LqFgQA+.....wdjvI=``\n\
            >> ---\n"
          type: string
        client_ip:
          description: "The IPv4 or IPv6 address of the client submitting the token.\
            \  \n  \n  \n>> ---\n>> Example:\n>> ``5.6.7.8``\n>> ---  \n  \n  \n>>\
            \ ---\n>> Note:\n>> Make sure to submit the actual IP address of the client,\
            \ and not the IP address of your CDN (e.g. by using X-Client-CDN or X-Forwarded-For\
            \ where appropriate).\n>> ---\n"
          type: string
        client_token:
          description: "The token generated by ``verify.js``, usually submitted to\
            \ the server as a POST field called \"eu-captcha-response\". This can\
            \ also be an empty string.  \n  \n  \n>> ---\n>> Example:\n>> ``XVtHUQ.....UF9ESkQUAxUTChJEXFFVX1ZXURs=``\n\
            >> ---  \n  \n  \n  \n>> ---\n>> Note:\n>> Always submit the data to the\
            \ API end point to ensure that the captcha mechanism receives information\
            \ about all captcha users, especially the broken ones.\n>> ---\n"
          type: string
        client_user_agent:
          description: "The user-agent request header of the client. In case the token\
            \ was not computed, this helps us identify what kind of client tried to\
            \ access your service.  \n  \n  \n>> ---\n>> Example:\n>> ``Mozilla/5.0\
            \ (X11; Linux x86_64) AppleWebKit/531.36 (KHTML, like Gecko) Chrome/114.0.0.0\
            \ Safari/531.36``\n>> ---  \n  \n"
          type: string
      required:
      - client_ip
      - client_token
      - client_user_agent
      - secret
      - sitekey
    VerifyResponse:
      example:
        success: true
        train: true
      properties:
        success:
          description: "The status of the verification.  \n  \nPossible values:  \n\
            \    - true\n    - false\n"
          type: boolean
        train:
          description: |
            If null or false, actual validation was performed.

            If true, the field success will always be true. This happens,
            for example, if the sitekey does not exist, if the secret is incorrect,
            if the sitekey is set to train=true, or some other condition
            prevents the server to perform the operation.
          type: boolean
          nullable: true

